body {
  background-color: $c-purp-dark;
  color: $c-primary;
  font-family: 'Roboto Mono', 'Source Code Pro', monospace;
  font-weight: 400;
  line-height: 1.5;
}

a,
a:visited {
  color: $c-primary
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  width: 580px;
}

.container-s {
  margin: 0 auto;
  width: 400px;
}

.response-label {
  margin: 0;
  padding: 0;
  word-break: break-word;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.list-section {
  margin: 50px 0;

  h3 {
    font-size: 1.375rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.columns-3 {
  columns: 3;
  column-gap: 1rem;
}

.columns-diamond {
  li::before {
    content: '◇';
    margin-right: 5px;
  }
}

.code-title {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
  letter-spacing: 2px;
}

.divider {
  border-bottom: 1px solid #75613B;
}

.divider-glitch {
  position: absolute;
  left: 0;
  right: 0;
  color: $c-primary;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  line-height: .8;
  font-family: 'Source Code Pro';
  opacity: .8;
  font-weight: 200;
}

.push-top {
  margin-top: 80px;
}