body {
  background-color: $c-purp-dark;
  color: $c-primary;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: $c-primary;
  text-decoration: none;
  background-image: linear-gradient(to bottom, transparent 50%, $c-yellow 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 100%;
  transition: all 100ms ease-in-out;

  &:hover {
    opacity: .7;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  padding: 0 25px;

  @include at-s {
    width: 580px;
  }
}

.response-label {
  margin: 0;
  padding: 0;
  word-break: break-word;
  font-size: .875rem;
  line-height: 1.4;
}

.container-index {
  margin: 0 auto;
  padding: 0 25px;

  @include at-l {
    width: 800px;
  }
}

.list-section {
  display: flex;
  margin: 50px auto;
  align-items: baseline;
  flex-direction: column;

  @include at-m {
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: space-between;
    flex-direction:row;
  }

  &_content {
    flex-grow: 1;
  }

  h3 {
    line-height: 1.2;
    font-size: 1.25rem;
  }

  p {
    margin-bottom: 1rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &_title {
    margin-bottom: 1rem;

    @include at-m {
      flex-shrink: 0;
      width: 130px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

.columns-3 {
  columns: 2;
  column-gap: 1rem;

  @include at-m {
    columns: 3;
  }

  li {
    padding: 0 5px 5px 0;
  }
}

.columns-diamond {
  li::before {
    content: '✦';
    margin-right: 8px;
    font-size: 11px;
    vertical-align: 1px;
  }
}

.code-title {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: bold;
  margin: 0 0 1rem;
  letter-spacing: 2px;
}

.divider {
  position: relative;

  &::before {
    content: '▒░▒░▒▒▓▓▓▓▒░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█░▓▓▓▓▓▓▓▓▓▒░▒▒▓▒▓▓';
    font-family: 'Source Code Pro', monospace;
    line-height: .4;
    display: block;
    overflow: hidden;
    opacity: .5;
  }
}

.divider-glitch {
  position: absolute;
  left: 0;
  right: 0;
  color: $c-primary;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  line-height: .8;
  font-family: 'Source Code Pro', monospace;
  opacity: .8;
  user-select: none;
}

.sub-section {
  margin: 0 0 80px;
}