.content {
  h1 {
    line-height: 1.2;
    margin-bottom: 1.5rem;
    font-size: 1.625rem;
    font-weight: bold;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 1.0625rem;
    margin: 3rem 0 1rem;
    font-weight: bold;
  }

  p {
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
    line-height: 1.7;
    font-size: 1.0625rem;
  }

  ul {
    margin-bottom: 3rem;
  }

  li {
    font-size: 1.0625rem;
    line-height: 1.7;
    margin: 0 0 1.5rem 2rem;
  }

  li.slim {
    margin: 0 0 .25rem 2rem;
  }

  .response-list-header {
    margin: 5rem 0 3rem;
  }
}