header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: baseline;
  font-size: 1.125rem;
  background-color: var(--primary);
}

header a,
header a:visited {
  color: var(--secondary);
}

.logo a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}