.hero {
  background-color: $c-primary;
  color: $c-secondary;
  padding-top: 40px;

  @include at-s {
    padding: 20px 100px 0;
  }

  &_title {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: .5em;

    @include at-m {
      font-size: 1.6875rem;
    }
  }

  &_description {
    font-size: 1rem;
    margin-bottom: 1em;
  }

  &_container {
    margin: 0 25px;

    @include at-s {
      width: 500px;
      margin: 0 auto;
    }
  }

  &_search {
    @include at-s {
      width: 400px;
    }
  }

  &_postmark {
    margin: 70px 0 0;
    padding: 0 0 20px;
    font-size: .75rem;
  }

  &_postmark-link {
    background-image: linear-gradient(to bottom, transparent 50%, $c-purp 50%) !important;
    color: $c-purp !important;
  }

  &_postmark-icon {
    display: inline-block;
    background-image: url('../images/postmark-stamp-purp.svg');
    background-size: 100%;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    vertical-align: -3px;
  }
}