.jump {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 40px;
  flex-direction: column;

  @include at-m {
    flex-direction: row;
  }

  h4 {
    font-weight: 700;
    margin-bottom: .5rem;

    @include at-m {
      width: 200px;
      margin-bottom: 0;
    }
  }

  ul {
    flex-grow: 1;
    width: 100%;
  }
}