.masthead {
  background-color: $c-primary;
  color: $c-secondary;
  padding: 20px 0 60px;

  &_title {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: .5em;
  }

  &_description {
    font-size: 1.125rem;
    margin-bottom: 0;
    font-weight: 400;
  }

  a {
    color: $c-secondary;
  }
}