.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include at-xs {
    flex-direction: row;
  }

  li {
    margin: 0;
    line-height: 1.2;
    text-align: center;

    @include at-xs {
      margin-left: 20px;
    }

    @include at-s {
      text-align: left;
    }
  }

  &_link {
    text-decoration: none;
    font-size: .875rem;
    background-image: linear-gradient(to bottom, transparent 50%, $c-purp 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 100%;
    transition: all 100ms ease-in-out;

    &:hover {
      opacity: .6;
    }
  }

  &_github {
    display: none;

    @include at-xs {
      display: inline-block;
      vertical-align: -4px;
    }

    &:hover {
      opacity: .5;
    }
  }

  &_search {
    margin: 20px auto 0;

    @include at-xs {
      margin-top: 50px;
      width: 400px;
    }
  }
}
