
.navigation {
  display: flex;

  li {
    margin-left: 25px;
  }

  &_link {
    text-decoration: none;
    font-size: .875rem;
    background-image: linear-gradient(to bottom, transparent 50%, var(--purp) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 100%;
    transition: all 100ms ease-in-out;

    &:hover {
      opacity: .6;
    }
  }

  &_github {
    vertical-align: -4px;

    &:hover {
      opacity: .5;
    }
  }
}
