$c-response-list-border: rgba($c-yellow, .2);

.response-list {
  position: relative;
  margin-bottom: 70px;

  &_name {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;

    @include at-m {
      margin: 0 -25px 15px;
    }
  }

  &_name-anchor {
    position: relative;
    font-size: 1.3125rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding-left: 25px;
    background-image: none;
  }

  &_name-anchor:hover {
    &::before {
      content: '#';
      position: absolute;
      top: 3px;
      left: -5px;
      font-weight: normal;
      font-size: 1rem;
    }
  }

  &_name-link {
    margin-left: 15px;
    font-size: .75rem;
    font-weight: normal;
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent 50%, $c-yellow 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 100%;
    transition: all 100ms ease-in-out;

    &:hover {
      opacity: .6;
    }
  }

  &_items {
    border: 1px solid $c-response-list-border;
    border-radius: 4px;

    @include at-m {
      margin: 0 -25px;
    }
  }

  &_item {
    padding: 25px 25px;
    border-bottom: 1px solid $c-response-list-border;
    position: relative;

    &:last-child {
      border-bottom: none;
    }
  }

  &_item-anchor {
    position: absolute;
    top: 25px;
    left: -11px;
    color: $c-primary !important;
    font-weight: 400;
    font-size: .875rem;
    text-decoration: none;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 1;
    background-image: none;

    span {
      display: block;
      position: relative;
      z-index: 2;
      padding: 4px 0 0 3px;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      background-color: $c-purp-dark;
      border: 1px solid $c-response-list-border;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      transform: rotate(45deg);
      z-index: 1;
      top: 0;
      transition: all 100ms ease-in-out;
    }
  }

  &_item-anchor:hover {
    opacity: 1;

    span {
      color: $c-purp;
    }

    &::after {
      border-color: $c-yellow;
      background-color: $c-yellow;
    }
  }

  &_top {
    position: absolute;
    bottom: -25px;
    right: 0;
    opacity: .3;
    font-size: .75rem;
    transition: all 100ms ease-in-out;
    background-image: linear-gradient(to bottom, transparent 50%, $c-yellow 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 100%;
    text-decoration: none;

    @include at-m {
      right: -25px;
    }

    &:hover {
      opacity: 1;
    }
  }
}