




.provider-jump {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 40px;

  h4 {
    font-weight: 700;
    width: 150px;
  }

  ul {
    flex-grow: 1;
  }
}