.severity {
  display: inline-block;
  padding: 1px 4px;
  font-size: 10px;
  border-radius: 2px;
  color: $c-purp-dark;
  font-weight: bold;
}

.severity--low {
  background-color: #08b61d;
}
.severity--medium {
  background-color: $c-yellow;
}
.severity--high {
  background-color: #ff7702;
}
.severity--critical {
  background-color: #ff2121;
}
