.severity {
  display: inline-block;
  padding: 1px 4px;
  font-size: 10px;
  border-radius: 2px;
  background-color: gray;
  color: #fff;
  font-weight: bold;
}

.severity--low {
  background-color: green;
}
.severity--medium {
  background-color: #dbcb08;
  color: #292241;
}
.severity--high {
  background-color: orange;
  color: #292241;
}
.severity--critical {
  background-color: orangered;
}
