@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700&display=swap');

@import 'reset';
@import 'base';
@import 'header';
@import 'navigation';
@import 'footer';
@import 'response-code';
@import 'response-list';
@import 'hero';
@import 'masthead';

:root {
  --primary: var(--yellow);
  --secondary: var(--purp);

  --yellow: #FFCC00;
  --purp: #3B377B;
  --purp-dark: #292241;

  --s-container: 580px;
}