@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700,900&display=swap');

@import '_reset.css';
@import '_base.css';
@import '_header.css';
@import '_footer.css';
@import '_response-code.css';

:root {
  --primary: var(--yellow);
  --secondary: var(--purp);

  --yellow: #FFCC00;
  --purp: #3B377B;
  --purp-dark: #292241;

  --s-container: 580px;
}